In [1]:
# Import SQLAlchemy's declarative_base module, based upon which new classes are created
from sqlalchemy.ext.declarative import declarative_base

# Create an engine, which enables Python to communicate with SQL
from sqlalchemy import create_engine

# Modules necessary to declare columns and column data types
from sqlalchemy import Column, Integer, String, Float, VARCHAR

from sqlalchemy.orm import Session
import pandas as pd
import csv
import os

In [14]:
# Establish the root path and resource path
root_path = os.getcwd()
resource_path = os.path.join(root_path, "Resources")

clean_measurements_file = os.path.join(resource_path, "clean_measurements_data.csv")
clean_stations_file = os.path.join(resource_path, "clean_stations_data.csv")

In [15]:
clean_measurements_pd = pd.read_csv(clean_measurements_file)
clean_measurements_pd.head()

   Unnamed: 0      station        date  prcp  tobs
0           0  USC00519397  2010-01-01  0.08    65
1           1  USC00519397  2010-01-02  0.00    63
2           2  USC00519397  2010-01-03  0.00    74
3           3  USC00519397  2010-01-04  0.00    76
4           4  USC00519397  2010-01-06  0.00    73

In [16]:
clean_stations_pd = pd.read_csv(clean_stations_file)
clean_stations_pd.head()

,Unnamed: 0,station,name,latitude,longitude,elevation
0,0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [5]:
# The database file we create will be called hawaii.sqlite
engine = create_engine('sqlite:///hawaii.sqlite')

In [6]:
# Base is akin to a template for creating classes
Base = declarative_base()

In [7]:
#declare a class for hawaii stations
class Station(Base):
    __tablename__ = "hawaii_stations"
    
    id = Column(Integer, primary_key=True)
    STATION = Column(VARCHAR)
    NAME = Column(VARCHAR)
    LATITUDE = Column(Float)
    LONGITUDE = Column(Float)
    ELEVATION = Column(Float)
    
    def __repr__(self):
        return "<station info (%r, %r)>" % (self.station, self.name)

In [21]:
class Measurement(Base):
    __tablename__ = "hawaii_measurement"
    
    id = Column(Integer, primary_key=True)
    STATION = Column(VARCHAR)
    DATE = Column(VARCHAR)
    PRCP = Column(Float)
    TOBS = Column(Float)
    
    def __repr__(self):
        return "<measurement info (%r, %r)>" % (self.station, self.date)

In [22]:
Base.metadata.create_all(engine)

In [10]:
session = Session(bind=engine)
    
#import the cleaned csv data into the class "Stations
for i, row in clean_stations_pd.iterrows():
    data = Station(
                    STATION = row.station,
                    NAME = row.name,
                    LATITUDE = row.latitude,
                    LONGITUDE = row.longitude,
                    ELEVATION = row.elevation
                    )
    session.add(data)
    session.commit()

In [23]:
session = Session(bind=engine)
    
#import the cleaned csv data into the class "Stations
for i, row in clean_measurements_pd.iterrows():
    data = Measurement(
                    STATION = row.station,
                    DATE = row.date,
                    PRCP = row.prcp,
                    TOBS = row.tobs
                    )
    session.add(data)
    session.commit()